<script setup>

import {useArtistStore} from "@/stores/ArtistStore";
import {onMounted, reactive} from "vue";
import {useContractStore} from "@/stores/ContractStore";

const props = defineProps(["contracts"]);





</script>

<template>

  <table class="w-full text-center ">
    <thead>
    <tr>
      <th class="border-r-2">contractId</th>
      <th class="border-r-2">startDate</th>
      <th class="border-r-2">endDate</th>
      <th class="border-r-2">salaryPerThousandViews</th>
      <th class="border-r-2">artistId</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="contract in props.contracts" class="hover:bg-gray-300 transition duration-30">

      <td class="border-r-2">{{ contract.contractId }}</td>
      <td class="border-r-2">{{ contract.startDate }}</td>
      <td class="border-r-2">{{ contract.endDate }}</td>
      <td class="border-r-2">{{ contract.salaryPerThousandViews }}</td>
      <td class="border-r-2">{{ contract.artistId }}</td>
    </tr>
    </tbody>

  </table>

  {{myContracts}}

</template>


<style scoped>

</style>