<script setup>

import {useContractStore} from "@/stores/ContractStore";
import {reactive} from "vue";

const props = defineProps(["toggleEditContract", "contractId"]);


const myContract = useContractStore().allContracts.find(contract => contract.contractId === props.contractId);


const userData = reactive({
  contractId: myContract.contractId,
  startDate: myContract.startDate,
  endDate: myContract.endDate,
  salaryPerThousandViews: myContract.salaryPerThousandViews,
  artistId: myContract.artistId,
});

async function updateGroup() {
  await useContractStore().updateContract(userData);
  await useContractStore().getAllContracts();
}


</script>

<template>

  <table class="w-full text-center mt-20">
    <thead>
    <tr>
      <th class="border-r-2">startDate</th>
      <th class="border-r-2">endDate</th>
      <th class="border-r-2">salaryPerThousandViews</th>
      <th class="border-r-2">artistId</th>
      <th class="border-r-2">Create</th>
    </tr>
    </thead>
    <tbody>
    <tr class="hover:bg-gray-300 transition duration-30">

      <td class="border-r-2"><input v-model="userData.startDate" type="date" ></td>
      <td class="border-r-2"><input v-model="userData.endDate" type="date"></td>
      <td class="border-r-2"><input v-model="userData.salaryPerThousandViews" type="text"></td>
      <td class="border-r-2"><input v-model="userData.artistId" type="text"></td>
      <td class="border-r-2">
        <button

            @click="updateGroup(); props.toggleEditContract()"
            class="ml-auto text-white m-3 p-3 rounded-lg bg-[#22C55E] disabled:opacity-60 transition duration-100"
        >Aktualisieren
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</template>


<style scoped>

</style>