<script setup>

import {useArtistStore} from "@/stores/ArtistStore";
import {reactive} from "vue";
import {useContractStore} from "@/stores/ContractStore";

const props = defineProps(["toggleEditArtist", "artistId"]);


const myArtist = useArtistStore().allArtists.find(artist => artist.artistId === props.artistId);


const userData = reactive({
  artistId: myArtist.artistId,
  formationDate: myArtist.formationDate,
  name: myArtist.name,
  genre: myArtist.genre,
  socialMediaUrl: myArtist.socialMediaUrl,
  contractEntitiesIds: myArtist.contractEntitiesIds
});

async function updateGroup() {
  await useArtistStore().updateArtist(userData);
  await useContractStore().getAllContracts();
}


</script>

<template>

  <table class="w-full text-center mt-20">
    <thead>
    <tr>
      <th class="border-r-2">formationDate</th>
      <th class="border-r-2">name</th>
      <th class="border-r-2">genre</th>
      <th class="border-r-2">socialMediaUrl</th>
      <th class="border-r-2">contractEntitiesIds</th>
      <th class="border-r-2">Create</th>
    </tr>
    </thead>
    <tbody>
    <tr class="hover:bg-gray-300 transition duration-30">

      <td class="border-r-2"><input v-model="userData.formationDate" type="date" name="formationDate" id="formationDate"></td>
      <td class="border-r-2"><input v-model="userData.name" type="text"></td>
      <td class="border-r-2"><input v-model="userData.genre" type="text"></td>
      <td class="border-r-2"><input v-model="userData.socialMediaUrl" type="text"></td>
      <td class="border-r-2"><input v-model="userData.contractEntitiesIds" type="text"></td>
      <td class="border-r-2">
        <button

            @click="updateGroup(); props.toggleEditArtist()"
            class="ml-auto text-white m-3 p-3 rounded-lg bg-[#22C55E] disabled:opacity-60 transition duration-100"
        >Aktualisieren
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</template>


<style scoped>

</style>