<script setup>

import {computed, onMounted, reactive, ref} from "vue";
import {useArtistStore} from "@/stores/ArtistStore";
import EditArtistModal from "@/components/EditArtistModal.vue";
import ContractEntitiesFromArtistModal from "@/components/ContractEntitiesFromArtistModal.vue";
import {useContractStore} from "@/stores/ContractStore";

const artists = computed(() => useArtistStore().allArtists)

onMounted(async () => {

  await useArtistStore().getAllArtists();

})

const isEditArtistModalVisible = ref(false);
const isEditArtistModalVisibleVisible = ref(false);
const currentArtistId = ref([]);

const chosenContracts = ref([])
const contracts = ref([]);


function toggleEditArtist(artistId) {
  isEditArtistModalVisible.value = !isEditArtistModalVisible.value;
  currentArtistId.value = artistId;
}
function toggleShowContracts(contracts) {
  isEditArtistModalVisibleVisible.value = !isEditArtistModalVisibleVisible.value;
  chosenContracts.value = contracts;
  chosenContracts.value.forEach(i => contracts.value.push(useContractStore().allContracts.find(contract => contract.contractId === i)))

}

const userData = reactive({
  formationDate: "",
  name: "",
  genre: "",
  socialMediaUrl: "",
  contractEntitiesIds: []
});


async function deleteThisArtist(studentId) {
  await useArtistStore().deleteArtist(studentId);
}

const createArtist = async () => {
  useArtistStore().postArtist(userData);
  await useArtistStore().getAllArtists();
};


</script>

<template>
  <h1>Artists</h1>

  <EditArtistModal class="z-10" v-if="isEditArtistModalVisible" :toggleEditArtist="toggleEditArtist" :artistId="currentArtistId" />
  <ContractEntitiesFromArtistModal v-if="isEditArtistModalVisibleVisible" :contracts="contracts" />

  <div class="Artists">

    <table class="w-full text-center ">
      <thead>
      <tr>
        <th class="w-1/12 border-r-2 ">artistId</th>
        <th class="border-r-2">formationDate</th>
        <th class="border-r-2">name</th>
        <th class="border-r-2">genre</th>
        <th class="border-r-2">socialMediaUrl</th>
        <th class="border-r-2">contractEntitiesIds</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="artist in artists" class="hover:bg-gray-300 transition duration-30">
        <td class="border-r-2">{{ artist.artistId }}</td>
        <td class="border-r-2">{{ artist.formationDate }}</td>
        <td class="border-r-2">{{ artist.name }}</td>
        <td class="border-r-2">{{ artist.genre }}</td>
        <td class="border-r-2">{{ artist.socialMediaUrl }}</td>
        <td @click="toggleShowContracts(artist.contractEntitiesIds)"
            class="border-r-2 hover:bg-gray-200">{{ artist.contractEntitiesIds.toString() }}</td>
        <td class="space-x-4 p-2 pr-5 text-white">
          <button
              @click="deleteThisArtist(artist.artistId)"
              class="bg-red-500 p-2 rounded-lg hover:shadow-lg transition duration-75">
            <img src="@/assets/delete.svg" width="30" alt="delete button">
          </button>

          <button
              @click="toggleEditArtist(artist.artistId)"
              class="bg-blue-500 p-2 rounded-lg hover:shadow-lg transition duration-75">
            <img src="@/assets/edit.svg" width="30">
          </button>
        </td>

      </tr>
      </tbody>
    </table>

    <table class="w-full text-center mt-20">
      <thead>
      <tr>
        <th class="border-r-2">formationDate</th>
        <th class="border-r-2">name</th>
        <th class="border-r-2">genre</th>
        <th class="border-r-2">socialMediaUrl</th>
        <th class="border-r-2">contractEntitiesIds</th>
        <th class="border-r-2">Create</th>
      </tr>
      </thead>
      <tbody>
      <tr class="hover:bg-gray-300 transition duration-30">

        <td class="border-r-2"><input v-model="userData.formationDate" type="date" name="formationDate" id="formationDate"></td>
        <td class="border-r-2"><input v-model="userData.name" type="text"></td>
        <td class="border-r-2"><input v-model="userData.genre" type="text"></td>
        <td class="border-r-2"><input v-model="userData.socialMediaUrl" type="text"></td>
        <td class="border-r-2"><input v-model="userData.contractEntitiesIds" type="text"></td>
        <td class="border-r-2">
          <button
              @click="createArtist()"
              class="ml-auto text-white m-3 p-3 rounded-lg bg-[#22C55E] disabled:opacity-60 transition duration-100"
          >Erstellen
          </button>
        </td>
      </tr>
      </tbody>

    </table>
      {{userData}}
    {{chosenContracts}}


  </div>


</template>

<style scoped>

</style>