<script setup>

import {computed, onMounted, reactive, ref} from "vue";
import {useContractStore} from "@/stores/ContractStore";
import EditContractModal from "@/components/EditContractModal.vue";

const contracts = computed(() => useContractStore().allContracts)

onMounted(async () => {

  await useContractStore().getAllContracts();

})

const isEditContractModalVisible = ref(false);
const currentContractId = ref([]);


function toggleEditContract(contractId) {
  isEditContractModalVisible.value = !isEditContractModalVisible.value;
  currentContractId.value = contractId;
}

const userData = reactive({
  startDate: "",
  endDate: "",
  salaryPerThousandViews: "",
  artistId: "",
});


async function deleteThisContract(studentId) {
  await useContractStore().deleteContract(studentId);
}

const createContract = async () => {
  useContractStore().postContract(userData);
  await useContractStore().getAllContracts();
};

</script>

<template>
  <h1>Contracts</h1>

  <EditContractModal class="z-10" v-if="isEditContractModalVisible" :toggleEditContract="toggleEditContract" :contractId="currentContractId" />


  <div class="Contracts">

    <table class="w-full text-center ">
      <thead>
      <tr>
        <th class="w-1/12 border-r-2 ">contractId</th>
        <th class="border-r-2">startDate</th>
        <th class="border-r-2">endDate</th>
        <th class="border-r-2">salaryPerThousandViews</th>
        <th class="border-r-2">artistId</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="contract in contracts" class="hover:bg-gray-300 transition duration-30">
        <td class="border-r-2">{{ contract.contractId }}</td>
        <td class="border-r-2">{{ contract.startDate }}</td>
        <td class="border-r-2">{{ contract.endDate }}</td>
        <td class="border-r-2">{{ contract.salaryPerThousandViews }}</td>
        <td class="border-r-2">{{ contract.artistId }}</td>
        <td class="space-x-4 p-2 pr-5 text-white">
          <button
              @click="deleteThisContract(contract.contractId)"
              class="bg-red-500 p-2 rounded-lg hover:shadow-lg transition duration-75">
            <img src="@/assets/delete.svg" width="30" alt="delete button">
          </button>

          <button
              @click="toggleEditContract(contract.contractId)"
              class="bg-blue-500 p-2 rounded-lg hover:shadow-lg transition duration-75">
            <img src="@/assets/edit.svg" width="30">
          </button>
        </td>

      </tr>
      </tbody>
    </table>

    <table class="w-full text-center mt-20">
      <thead>
      <tr>
        <th class="border-r-2">startDate</th>
        <th class="border-r-2">endDate</th>
        <th class="border-r-2">salaryPerThousandViews</th>
        <th class="border-r-2">artistId</th>
        <th class="border-r-2">Create</th>
      </tr>
      </thead>
      <tbody>
      <tr class="hover:bg-gray-300 transition duration-30">

        <td class="border-r-2"><input v-model="userData.startDate" type="date" ></td>
        <td class="border-r-2"><input v-model="userData.endDate" type="date"></td>
        <td class="border-r-2"><input v-model="userData.salaryPerThousandViews" type="text"></td>
        <td class="border-r-2"><input v-model="userData.artistId" type="text"></td>
        <td class="border-r-2">
          <button
              @click="createContract()"
              class="ml-auto text-white m-3 p-3 rounded-lg bg-[#22C55E] disabled:opacity-60 transition duration-100"
          >Erstellen
          </button>
        </td>
      </tr>
      </tbody>

    </table>


  </div>


</template>

<style scoped>

</style>