<script setup>
import {RouterLink, RouterView} from 'vue-router'
</script>

<template>
  <header>

    <nav>
      <RouterLink to="/">Artists</RouterLink>
      <RouterLink to="/contracts">Contracts</RouterLink>
    </nav>
  </header>

  <RouterView/>
</template>

<style scoped>
</style>
